* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fredoka', sans-serif;
    color: #0f0e17;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    margin: 50px 0 50px 0;
    color: #e53170;
    font-size: 40px;
    font-weight: bolder;
}

h2{
    font-size: 15px;
}

.team > .col {
    width: calc(100% / 3 - 40px);
    float: left;
    margin: 20px;
    background-color: #0f0e17;
}

.foto {
    float: left;
    width: 90px;
}

.bio {
    float: left;
    color: white;
    margin-top: 10px;
    margin-left: 20px;
}

.foto img {
    width: 100%;
    display: block;
}

.bio > .lavoro, a{
    font-size: 12px;
}

.bio a {
    color: #4dccf2;
    text-decoration: none;
}