* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fredoka', sans-serif;
    color: #0f0e17;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    margin: 50px 0 50px 0;
    color: #e53170;
    font-size: 40px;
    font-weight: bolder;
}

.team > .col {
    width: calc(100% / 3 - 40px);
    float: left;
    padding: 20px;
    margin: 20px;
    background-color: yellow;
}

.foto {
    float: left;
}

.bio {
    float: right;
}